<div id="new-badge-container">
  <main>
    <%= render "shared/empty_badge" %>

    <div id="progress-bar-container">
      <div class="inner-container">
        <div class="bar"></div>
      </div>
    </div>

    <div class="badge-controls">
      <div class="add-colors">
        <button id="the-big-button"
                type="button"
                class="primary-button">
          Add a Color
        </button>

        <div class="turn-pips">
          <div class="turn-pip"></div>
          <div class="turn-pip"></div>
          <div class="turn-pip"></div>
          <div class="turn-pip"></div>
          <div class="turn-pip"></div>
        </div>
      </div>

      <a href="#" class="save-and-share disabled">Save and Share</a>

      <a href="#" class="delete-and-restart secondary-button disabled">Delete and restart</a>
    </div>
  </main>

  <div id="full-window-overlay"></div>

  <div id="save-badge-modal">
    <%= form_with model: @badge do |form| %>
      <%= render "shared/empty_badge" %>

      <div class="headline">
        <h2>Save and Share</h2>
        <p class="thin">Give your new badge a name, then share it or print it out!</p>
      </div>

      <div class="inputs">
        <%= form.label :name, "Badge Name (optional)" %>
        <%= form.text_field :name, placeholder: "The Ol' Razzle Dazzle", maxlength: "30" %>
        <%= form.label :creator_name, "Your Name (optional)" %>
        <%= form.text_field :creator_name, placeholder: "Jeff Badgemaker", maxlength: "30" %>
        <%= form.hidden_field :colors %>
      </div>

      <div class="controls">
        <%= form.submit "Save", class: "primary-button" %>
        <a href="#" class="cancel secondary-button">Cancel</a>
      </div>
    <% end %>
  </div>
</div>
