<script type="text/javascript" charset="utf-8">
  window.badge_colors = <%= raw json_escape(@badge.colors) %>
</script>

<main id="show-badge-container">
  <div class="link-to-gallery">
    <a href="/">&lt; Badge Gallery</a>
  </div>

  <% if !@badge.name.empty? %>
    <h1><%= @badge.name %></h1>
  <% end %>

  <div class="badge-view">
    <%= render "shared/empty_badge" %>
  </div>

  <div class="creator">
    <% if !@badge.creator_name.empty? %>
      Created by <%= @badge.creator_name %>.
    <% end %>
  </div>

  <div class="print-info">
    <%= link_to "Print", print_badge_path(@badge), class: "primary-button", target: "_blank" %>
    <p>Use Avery brand labels, SKU <strong>22877</strong>, and choose "fit to page width" and "no margins" in print options.</p>
  </div>
</main>
