<script type="text/javascript" charset="utf-8">
  window.badge_colors = <%= raw json_escape(@badges.pluck(:colors)) %>
</script>

<main id="badge-gallery">
  <nav>
    <%= link_to "Create your own badge", new_path, class: "primary-button" %>
    <p>…or click on a badge below to print it!</p>
  </nav>

  <div class="all-badges">
    <% @badges.each do |badge| %>
      <a href="<%= url_for(badge) %>" class="single-badge">
        <%= render "shared/empty_badge" %>

        <div class="info">
          <% if !badge.name.empty? %>
            <h2><%= badge.name %></h2>
          <% end %>
          <% if !badge.creator_name.empty? %>
            <h3>by <%= badge.creator_name %></h3>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
</main>
