<!DOCTYPE html>
<html>
  <head>
    <title>Badger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="preload">
    <header>
      <a href="/">
        <h1>Badger</h1>
      </a>

      <a href="/about">What’s going on here?</a>
    </header>

    <%= yield %>

    <footer>
      <ul>
        <li>
          <a href="https://caseybrant.com" target="_blank">Made by Casey Brant</a>
        </li>
        <li>
          <a href="https://github.com/basecase/badger/" target="_blank">Source code available on Github</a>
        </li>
        <li>
          <a href="https://www.nationalgeographic.com/animals/mammals/facts/american-badger" target="_blank">Badgers are really cool</a>
        </li>
      </ul>

      <a href="mailto:badger@caseybrant.com">Send me feedback or bug reports</a>
    </footer>
  </body>
</html>
